<configuration>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%level [%thread] %logger{0} - %msg%n</pattern>
    </encoder>
  </appender>

  <logger name="io.netty" level="warn"/>
  <logger name="org.jboss" level="info"/>
  <logger name="org.infinispan" level="info"/>
  <logger name="org.jgroups" level="info"/>

  <root level="debug">
    <appender-ref ref="STDOUT"/>
  </root>

</configuration>
